.footer-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container::before {
  content: " ";
  display: inline-block;
  border-bottom: 7em solid #0072b5;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  height: 0;
  width: 70%;
  position: absolute;
}

@media screen and (max-width: 1290px) {
  .footer-container::before {
    width: 75%;
  }
}

@media screen and (max-width: 800px) {
  .footer-container::before {
    display: none;
  }
}

.footer-container .banner {
  background-color: #0f89d1;
  font-family: "Raleway", sans-serif;
  height: 7em;
  width: 70%;
  position: absolute;
  top: -3.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.footer-container .banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 1.5em 0;
  width: 100%;
}

.footer-container .banner .container .details {
  padding-left: 1.5em;
  width: 70%;
  line-height: 1.3em;
}

.footer-container .banner .container #heading1 {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
}

.footer-container .banner .container #info {
  color: #fff;
  font-size: 12px;
}

@media screen and (max-width: 800px) {
  .footer-container .banner .container {
    height: 5em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-container .banner .container-1 {
  background-color: #33a9ee;
}

.footer-container .banner .container-2 {
  background-color: #2098df;
}

.footer-container .banner .container-3 {
  background-color: #0f89d1;
}

.footer-container .banner .icons {
  background-color: #0779bc;
  padding: 10px 1.5em;
  width: 50px;
  height: 3.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .banner #icon1 {
  background-color: #2098df;
}

.footer-container .banner #icon2 {
  background-color: #0f89d1;
}

.footer-container .banner #icon3 {
  background-color: #0779bc;
}

.footer-container .banner img {
  width: 15px;
  height: 15px;
  position: absolute;
}

@media screen and (max-width: 800px) {
  .footer-container .banner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: initial;
    margin-bottom: 3em;
    width: 100%;
  }
}

@media screen and (max-width: 1290px) {
  .footer-container .banner {
    width: 75%;
  }
}

footer {
  background-color: #15191c;
  font-family: "PT Sans", sans-serif;
  color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 6em;
  position: relative;
}

footer .left-footer, footer .right-footer {
  width: 30%;
}

@media screen and (max-width: 1290px) {
  footer .left-footer, footer .right-footer {
    width: 35%;
  }
}

footer .left-footer img {
  width: 60px;
  height: 60px;
}

footer .left-footer .bhc-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2em;
}

footer .left-footer #logo-name {
  color: #fff;
  line-height: 2em;
  padding-left: 0.5em;
  font-size: 30px;
  font-weight: bold;
}

footer .left-footer #title1 {
  margin-bottom: 1em;
}

footer .left-footer #schedules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  border-bottom: 2px solid #3a3a3a;
}

footer .right-footer #title, footer .right-footer footer .right-footer #title2 {
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1em 0;
}

footer .right-footer #title::after {
  content: "";
  display: inline-block;
  background-color: #0f89d1;
  width: 1.5em;
  height: 3px;
}

footer .right-footer #title2 {
  font-size: 12px;
  padding-top: 1em;
  font-weight: bold;
  letter-spacing: 1px;
}

footer .right-footer form {
  margin: 1em 0;
}

footer .right-footer input[type="email"] {
  background-color: #1a1f22;
  padding: 1.2em 1em;
  width: 24em;
  color: #999;
  border: none;
  resize: vertical;
}

@media screen and (max-width: 1285px) {
  footer .right-footer input[type="email"] {
    width: 22em;
  }
}

footer .right-footer button {
  background-color: #0f89d1;
  color: #fff;
  padding: 1em 1.3em;
}

footer .right-footer .fa-brands {
  color: #F5F5F5;
  font-size: 35px;
  padding-right: 4px;
  margin-top: 0.5em;
}

@media screen and (max-width: 1290px) {
  footer {
    padding: 6em 3em;
  }
}

#footer2 {
  background-color: #111416;
  font-family: "PT Sans", sans-serif;
  color: #999;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 1em 0;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  footer {
    padding: 8em 2em;
  }
  .left-footer, .right-footer {
    width: 100%;
    padding-top: 3em;
  }
  .footer-container::before {
    width: 80%;
  }
  .footer-container .banner {
    width: 80%;
  }
  .footer-container .banner #heading1 {
    font-size: 9px;
  }
  .footer-container .banner #info {
    font-size: 6px;
  }
}

@media screen and (max-width: 1152px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  footer .left-footer, footer .right-footer {
    width: 90%;
    margin: 0 2em;
  }
  footer .right-footer input[type="email"] {
    width: 34em;
  }
}

@media screen and (max-width: 970px) {
  .footer-container::before {
    width: 85%;
  }
  .footer-container .banner {
    width: 85%;
  }
  .footer-container .banner #heading1 {
    font-size: 5px;
  }
  .footer-container .banner #info {
    font-size: 5px;
  }
}

@media screen and (max-width: 800px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 14px;
    padding: 6em 3em;
  }
  footer .left-footer,
  footer .right-footer {
    width: 90%;
    margin-top: 2em;
  }
  footer .left-footer input[type="email"],
  footer .right-footer input[type="email"] {
    width: 17em;
    padding: 0.8em 1em;
  }
  .footer-container .banner {
    width: 100%;
  }
}

@media screen and (max-width: 490px) {
  footer {
    padding: 6em 1em;
  }
  input[type="email"] {
    padding: 1.2em 1em;
    width: 20em;
  }
}
/*# sourceMappingURL=footer.css.map */